@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}
body {
    background-color:#353641 ;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.wrapper {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}